*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-image: linear-gradient(90deg, #ff758c 0%, #ff7eb3 100%);
}

#head{
    font-size: 5rem;
    color: #DBEDF3;
    text-shadow: 3px 0 #DA0463;
    margin-top: 6%;
}
.keys {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
.button{
    border: .2rem solid rgb(34, 37, 207);
    border-radius: .5rem;
    margin: 0.1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s;
    width: 10.3rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
    margin-top: 10%;
    cursor: pointer;
}
.animation{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}